<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Board Resolution</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        .s1 {
            color: black;
            font-family: "Baskerville Old Face", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 24pt;
        }

        .s2 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 13pt;
        }

        .s4 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 10pt;
        }

        h3 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11pt;
        }

        .p,
        p {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12.5pt;
            margin: 0pt;
        }

        .s5 {
            color: black;
            font-family: Cambria, serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: underline;
            font-size: 12.5pt;
        }

        .s6 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: underline;
            font-size: 12.5pt;
        }

        .s7 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: underline;
            font-size: 12.5pt;
        }

        .h2,
        h2 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12.5pt;
        }

        .s8 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12.5pt;
        }

        .s9 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12.5pt;
        }

        .s10 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12.5pt;
        }

        .s11 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: underline;
            font-size: 12.5pt;
        }

        table,
        tbody {
            vertical-align: top;
            overflow: visible;
        }
    </style>
</head>

<body>
    <p class="s1" style="padding-left: 124pt;text-indent: 0pt;line-height: 27pt;text-align: center;"><span>
            <%=name%>
        </span></p>
    <p class="s2" style="padding-left: 124pt;text-indent: 0pt;line-height: 15pt;text-align: center;"><span>
            <%=registered_address%>
        </span></p>
    <p class="s4" style="padding-left: 124pt;text-indent: 0pt;text-align: center;">CIN: <span style="">
            <%=cin%>
        </span> | Contact: <span style="">+91- <%=contact_number%></span> | E-mail: <span style=" ">
            <%=email%>
        </span></p>
    <h3 style="padding-left: 79pt;text-indent: 0pt;line-height: 13pt;text-align: center;">
        ------------------------------------------------------------------------------------------------------------------------
    </h3>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 5pt;text-indent: 0pt;line-height: 1pt;text-align: left;"><span><img width="724" height="1"
                alt="image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAtQAAAABCAYAAAD+QTlFAAAABmJLR0
                QA/wD/AP+gvaeTAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAHElEQVRIie3BMQEAAAjAoNk/tHbwBq
                baAACAlwNY+gEBzM+Q8gAAAABJRU5ErkJggg==" /></span></p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-top: 5pt;padding-left: 7pt;text-indent: 0pt;text-align: left;"><span class="p">Extract of the
            minutes of the meeting of the Board of Directors of </span>&nbsp;&nbsp; <%=name%> &nbsp;&nbsp;&nbsp;
            </span><span class="p">duly</span></p>
    <p style="padding-left: 7pt;text-indent: 0pt;text-align: left;"><span class="p">convened and held on </span>
        <%=date_of_application%> <span class="p">at its </span><span class="h2">Registered Office at
            </span>
            Address of the &nbsp;<%=registered_address%>.
    </p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-top: 4pt;padding-left: 7pt;text-indent: 0pt;line-height: 114%;text-align: justify;">“<b>RESOLVED
            THAT </b>the Company do seek admission of the Company’s securities in the Depository system of National
        Securities Depository Limited or Central Depository Services (India) Limited to dematerialize the certificates
        of the shareholders of the Company who may wish to do so”.</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 7pt;text-indent: 0pt;line-height: 114%;text-align: justify;">“<b>RESOLVED FURTHER THAT
        </b>the Company appoints <b>Harmilap share transfer agents </b>as the Registrar &amp; Transfer Agent (RTA) for
        the Depository upon such terms and conditions as may be approved”.</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>

    <p style="padding-top: 4pt;padding-left: 7pt;text-indent: 0pt;text-align: left;"><span class="p">“</span><span
            class="h2">RESOLVED FURTHER THAT </span><span class="p">Mr. </span> <span class="p">
            <%=authorised%>
        </span><span class="p"> &amp; <%=authorised_designation%></span><span class="p">_ ,</span>
    </p>
    <p style="padding-top: 2pt;padding-left: 7pt;text-indent: 0pt;line-height: 113%;text-align: left;">Director of the
        company be and are hereby singly authorized to do all such acts and deeds as may be required and to sign all
        such papers and documents as may be necessary to implement the decision”.</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <h2 style="padding-left: 7pt;text-indent: 0pt;text-align: left;">Signature of authorized persons:</h2>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <table style="border-collapse:collapse;margin-left:8.57pt" cellspacing="0">
        <tr style="height:56pt">
            <td
                style="width:51pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s9" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Sr. No.</p>
            </td>
            <td
                style="width:220pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s9" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Name of the Authorized
                    Signatory</p>
            </td>
            <td
                style="width:136pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s9" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Designation</p>
            </td>
            <td
                style="width:140pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s9" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Specimen Signature</p>
            </td>
        </tr>
        <tr style="height:56pt">
            <td
                style="width:51pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s10" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">1.</p>
            </td>
            <td
                style="width:220pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
                    <%=authorised%>
                </p>
            </td>
            <td
                style="width:136pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
                    <%=authorised_designation%>
                </p>
            </td>
            <td
                style="width:140pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 7pt;text-indent: 0pt;line-height: 231%;text-align: left;">The resolution was passed
        unanimously. Certified True Copy</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>

    <h3 style="padding-top: 8pt;text-indent: 6pt;text-align: left;">For, <span>
            <%=name%>
        </span>
        <p style="text-indent: 6pt;"> Name: <span>
                <%=authorised%>
            </span></p>
        <p style="text-indent: 6pt;"> Designation <span>
                <%=authorised_designation%>
            </span></p>
    </h3>
    <h3 style="text-indent: 6pt;line-height: 13pt;text-align: left;">DIN: <span>
            <%=authorised_din%>
        </span></h3>

    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 7pt;text-indent: 0pt;text-align: left;">Date: <span>
            <%=date_of_application%>
        </span></p>
    <p style="padding-left: 7pt;text-indent: 0pt;text-align: left;">Place: <span>
            <%=place_of_application%>
        </span></p>
</body>

</html>