<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Board Resolution</title>
    <meta name="author" content="shelmad" />
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        p {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
            margin: 0pt;
        }

        .s1 {
            color: #0D0D0D;
            font-family: Cambria, serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }

        h2 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }

        .h3 {
            color: black;
            font-family: Cambria, serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11pt;
        }

        .s3 {
            color: #0D0D0D;
            font-family: Cambria, serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }

        .s4 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }

        .s5 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
        }

        .s6 {
            color: black;
            font-family: Cambria, serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }

        .s7 {
            color: black;
            font-family: Cambria, serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }

        h1 {
            color: black;
            font-family: Cambria, serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12.5pt;
        }

        h1 {
            color: black;
            font-family: Algerian;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 30pt;
        }

        h3 {
            color: black;
            font-family: Cambria, serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }

        .h4 {
            color: black;
            font-family: Cambria, serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11pt;
        }

        .a {
            color: black;
            font-family: Cambria, serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11pt;
        }

        table,
        tbody {
            vertical-align: top;
            overflow: visible;
        }
    </style>
</head>

<body>
    <h1 style="padding-left: 6pt;text-indent: 0pt;line-height: 37pt;text-align: center;">
        <%=name%>
    </h1>
    <h3 style="padding-bottom: 1pt;padding-left: 41pt;text-indent: 0pt;text-align: center;">Regd. Office:-
        <%=registered_address%> | TEL. NO.:- <a href="tel:91<%=contact_number%>" class="a">+91- <%=contact_number%></a>
            | EMAIL ID:- <span class="h4"><a href="mailto:<%=email%>" class="a" target="_blank">
                    <%=email%>
                </a>
            </span><br />
            <span class="s1">CIN:- <%=cin%></span>
    </h3>
    <p style="padding-left: 5pt;text-indent: 0pt;line-height: 1pt;text-align: left;"><span>
            <img width="100%" height="2" alt="image"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAtoAAAACCAYAAABmHHtYAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAJklEQVRYhe3OAQkAQAgEsPP7d9YSwoNsCVZJOgAAwKr3OwAAABcN/PIBA2UO85oAAAAASUVORK5CYII=" /></span>
    </p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-top: 5pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">Extract of the minutes of the
        meeting of the Board of Directors of <span class="s1">
            <%=name%>
        </span>duly convened and
        held on <b><%=date_of_application%></b>at its <b>Registered Office at </b><span class="h3">
            <%=registered_address%>
        </span><span class="s3">.</span></p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-top: 11pt;padding-left: 5pt;text-indent: 0pt;line-height: 114%;text-align: justify;">“<b>RESOLVED
            THAT </b>the Company do seek admission of the Company’s securities in the Depository system of Central
        Depository Services (India) Limited (CDSL) to dematerialize the certificates of the shareholders of the Company
        who may wish to do so”.</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 5pt;text-indent: 0pt;line-height: 114%;text-align: justify;">“<b>RESOLVED FURTHER THAT
        </b>the Company appoints <b>Harmilap Share Transfer Agents </b>as the Registrar &amp; Transfer Agent (RTA) for
        the Depository upon such terms and conditions as may be approved”.</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 5pt;text-indent: 0pt;line-height: 114%;text-align: justify;">“<b>RESOLVED FURTHER THAT Mr.
            <%=authorised%>,
        </b>Director of the company be and are hereby singly authorized to do all such acts
        and deeds as may be required and to sign all such papers and documents as may be necessary to implement the
        decision”.</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <h2 style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Signature of authorized persons:</h2>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <table style="border-collapse:collapse;margin-left:17.73pt" cellspacing="0">
        <tr style="height:25pt">
            <td
                style="width:53pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s4" style="padding-top: 5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Sr. No.</p>
            </td>
            <td
                style="width:190pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s4" style="padding-top: 5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Name of the
                    Authorized Signatory</p>
            </td>
            <td
                style="width:99pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s4" style="padding-top: 5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Designation
                </p>
            </td>
            <td
                style="width:193pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s4" style="padding-top: 5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Specimen
                    Signature</p>
            </td>
        </tr>
        <tr style="height:85pt">
            <td
                style="width:53pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s5" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">1.</p>
            </td>
            <td
                style="width:190pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s6" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
                    <%=authorised%>
                </p>
            </td>
            <td
                style="width:99pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s4" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
                    <%=authorised_designation%>
                </p>
            </td>
            <td
                style="width:193pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 5pt;text-indent: 0pt;line-height: 115%;text-align: left;">The resolution was passed
        unanimously. Certified True Copy</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p class="s7" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">For <%=name%>
    </p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <h2 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
        <%=authoriser%> &nbsp <%=authoriser_designation%>
    </h2>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <h2 style="padding-left: 5pt;text-indent: 0pt;line-height: 15pt;text-align: left;">Date: <%=date_of_application%>
    </h2>
    <h2 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Place: <span class="s1">
            <%=place_of_application%>
        </span></h2>
</body>

</html>