<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>15. RTA Appointment Letter for Equity</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        .s1 {
            color: black;
            font-family: "Baskerville Old Face", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 24pt;
        }

        .s2 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 13pt;
        }

        .s4 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 10pt;
        }

        h2 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }

        .p,
        p {
            color: black;
            font-family: Cambria, serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
            margin: 0pt;
        }

        .s6 {
            color: black;
            font-family: Cambria, serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: underline;
            font-size: 12pt;
        }

        .s7 {
            color: black;
            font-family: Cambria, serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }

        .s8 {
            color: black;
            font-family: Cambria, serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }

        .s9 {
            color: #F00;
            font-family: Cambria, serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }

        .s10 {
            color: black;
            font-family: "Book Antiqua", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11pt;
        }
    </style>
</head>

<body>
    <p class="s1" style="padding-top: 1pt;padding-left: 113pt;text-indent: 0pt;line-height: 27pt;text-align: center;">
        (<span style=" color: #F00;"><%=name%></span>)</p>
    <p class="s2" style="padding-left: 113pt;text-indent: 0pt;line-height: 15pt;text-align: center;">(<span
            style=" color: #F00;"><%=registered_address%></span>)</p>
    <p class="s4" style="padding-left: 113pt;text-indent: 0pt;text-align: center;">CIN: (<span style=" color: #F00;"><%=cin%></span>) | Contact: (<span style=" color: #F00;">+91- <%=contact_number%></span>) | E-mail: (<span
            style=" color: #F00;"><%=email%></span>) <% if(website){ %>Website: (<span style=" color: #F00;"><%=website%></span>)<% } %></p>
    <h2 style="padding-left: 4pt;text-indent: 0pt;line-height: 13pt;text-align: center;">
        ---------------------------------------------------------------------------------------------------------------------
    </h2>
    <p style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;line-height: 26pt;text-align: left;">Date:<span
            style=" color: #F00;"><%=date_of_application%> </span>To,</p>
    <p style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Sanjeev Sabharwal</p>
    <p style="padding-left: 5pt;text-indent: 0pt;line-height: 14pt;text-align: left;">C.E.O</p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Harmilap Share Transfer Agents Shop No: 2 &amp;3,
        Ground Floor,</p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">A-90 &amp; 91, Indra Nagar Delhi-110033</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-top: 5pt;padding-left: 4pt;text-indent: 0pt;line-height: 14pt;text-align: center;">Dear Sir,</p>
    <p class="s6" style="padding-left: 113pt;text-indent: 0pt;line-height: 14pt;text-align: center;">Sub: - Appointment
        of RTA (Registrar and Transfer Agent)</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-top: 5pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;"><span class="p">With reference
            to our communication and discussions with you, we wish to inform you that</span><span
            class="s7">____________</span><span class="s8" style=" background-color: #FF0;"><%=name%></span><span
            class="s7"> </span><span class="p">(“the Company”) has decided to appoint “</span><span class="s9">HARMILAP
            SHARE</span></p>
    <p class="s7" style="padding-left: 5pt;text-indent: 0pt;text-align: justify;"><span style=" color: #F00;">TRANSER
            AGENTS</span>” <span class="p">as a RTA (Registrar and Transfer Agent) for providing </span>only electronic
        services <span class="p">for the Equity Shares to be issued by the Company.</span></p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Our company will provide all information as
        required by you from time to time, necessary for the purpose of performing the duties and obligations as RTA of
        our company.</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Our company will compensate all expenses towards
        performance of duties for our company and indemnify your company for all legal consequences faced by your
        company for any wrong information given to you by us.</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">If the transactions are liable to any taxes the
        company shall reimburse to your company,their liability for payment of such taxes and interest thereon, if any.
    </p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Our company will pay AMC on due date and interest
        at 12% P.A. for any delayed payments towards RTA after specified period of time. The company (Issuer) will bear
        expenses for legal advice/action which may have to be taken for no lapse on past of your company but for any
        eventuality which may arise in connection with the work of your company.</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-top: 11pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">We request you to give your
        confirmation for the same.</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-top: 9pt;padding-left: 465pt;text-indent: 10pt;line-height: 200%;text-align: right;">Thanking You,
        Yours Faithfully,</p>
    <p class="s10" style="padding-left: 298pt;text-indent: 108pt;line-height: 114%;text-align: right;">For, (<span
            style=" color: #F00;"><%=name%></span>) Name : (<span style=" color: #F00;"><%=authorized_name%></span>) Designation <span style=" color: #F00;"><%=authorized_destination%></span></p>
    <p class="s10" style="text-indent: 0pt;line-height: 13pt;text-align: right;">DIN: <span style=" color: #F00;"><%=authorized_din%></span></p>
</body>
</html>