<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>12. Undertaking for Private Company</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        .s1 {
            color: black;
            font-family: "Baskerville Old Face", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 24pt;
        }

        .s2 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 13pt;
        }

        .s4 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 10pt;
        }

        h2 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }

        .s5 {
            color: black;
            font-family: "Book Antiqua", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11pt;
        }

        p {
            color: black;
            font-family: "Book Antiqua", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 11pt;
            margin: 0pt;
        }
    </style>
</head>

<body>
    <p class="s1" style="padding-left: 75pt;text-indent: 0pt;line-height: 27pt;text-align: center;"><span
            style=" color: #F00;"><%=name%></span></p>
    <p class="s2" style="padding-left: 75pt;text-indent: 0pt;line-height: 15pt;text-align: center;"><span
            style=" color: #F00;"><%=registered_address%></span></p>
    <p class="s4" style="padding-left: 75pt;text-indent: 0pt;text-align: center;">CIN: <span style=" color: #F00;"><%=cin%></span> | Contact: <span style=" color: #F00;"><%=contact_number%></span> | E-mail: <span
            style=" color: #F00;"><%=email%></span> <% if(website){ %>Website: <span style=" color: #F00;"><%=website%></span><% } %></p>
    <h2 style="padding-left: 9pt;text-indent: 0pt;line-height: 13pt;text-align: center;">
        ---------------------------------------------------------------------------------------------------------------------
    </h2>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p class="s5" style="text-indent: 0pt;text-align: right;">Date: <span style=" color: #F00;"><%=date_of_application%></span></p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 5pt;text-indent: 0pt;line-height: 14pt;text-align: left;">To,</p>
    <p style="padding-left: 5pt;text-indent: 0pt;line-height: 14pt;text-align: left;">The Managing Director</p>
    <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">National Securities
        Depository Limited</p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">4th floor, Trade World, A Wing Kamala Mills
        Compound, Senapati Bapat Marg,</p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Lower Parel, Mumbai - 400 013</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-top: 11pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Dear Sir,</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 5pt;text-indent: 0pt;line-height: 114%;text-align: justify;">This is in connection with our
        application for admitting our securities on National Securities Depository Ltd. (NSDL) to enable our
        shareholders to hold their shares in dematerialised form.</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 5pt;text-indent: 0pt;line-height: 114%;text-align: justify;">We hereby undertake that once
        the shares are admitted in NSDL depository system, all the transactions in the shares in demat form, will be
        conducted in accordance with the provisions of The Depositories Act, 1996 and SEBI (Depositories and
        Participants) Regulations, 1996 and Bye Laws &amp; Business Rules of NSDL. So long as the Company is a Private
        Limited Company, the Company covenants and takes full responsibility for (i) any transfer of shares in violation
        of the restrictions on transfer and lien on shares as incorporated in the Articles of Association and (ii) if
        the number of members of the Company exceeds 200 due to transfer of shares.</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 5pt;text-indent: 0pt;line-height: 114%;text-align: justify;">The Company agrees and
        undertakes to indemnify and keep indemnified and harmless NSDL, its Directors and employees, from and against
        any and all liabilities resulting from claims, demands, penalties, suits and judgements and all costs, charges
        and expenses relating thereto as a result of a breach by the Company of its covenants as stated hereinabove.</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-top: 11pt;text-indent: 0pt;text-align: right;">Yours faithfully,</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p class="s5" style="padding-left: 221pt;text-indent: 108pt;text-align: right;">For, <span
            style=" color: #F00;"><%=name%></span> Name : <span style=" color: #F00;"><%=authorized_name%></span> Designation <span style=" color: #F00;"><%=authorized_destination%></span></p>
    <p class="s5" style="text-indent: 0pt;text-align: right;">DIN: <span style=" color: #F00;"><%=authorized_din%></span></p>
</body>
</html>