<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>11. undertaking for balance sheet</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        .s1 {
            color: black;
            font-family: "Baskerville Old Face", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 23pt;
        }

        .s2 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12.5pt;
        }

        h3 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 9.5pt;
        }

        .s5 {
            color: black;
            font-family: "Book Antiqua", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11.5pt;
        }

        .h2 {
            color: #F00;
            font-family: "Book Antiqua", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11.5pt;
        }

        p {
            color: black;
            font-family: "Book Antiqua", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 11.5pt;
            margin: 0pt;
        }

        .s6 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: underline;
            font-size: 11.5pt;
        }

        .s7 {
            color: #F00;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: underline;
            font-size: 11.5pt;
        }

        .s8 {
            color: #F00;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 11.5pt;
        }

        .s10 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 11.5pt;
        }
    </style>
</head>

<body>
    <p class="s1" style="padding-left: 115pt;text-indent: 0pt;line-height: 26pt;text-align: center;"><span></span>
        <%=name%>
            </span>
    </p>
    <p class="s2" style="padding-left: 116pt;text-indent: 0pt;line-height: 14pt;text-align: center;"><span>
            <%=registered_address%>
        </span></p>
    <h3 style="padding-left: 116pt;text-indent: 0pt;line-height: 108%;text-align: center;">CIN: <span>
            <%=cin%>
        </span> | Contact: <span>+91- <%=contact_number%></span> | E-mail: <span>
            <%=email%>
        </span> Website: <span>
            <%=website%>
        </span></h3>
    <h3 style="padding-left: 89pt;text-indent: 0pt;line-height: 11pt;text-align: center;">
        ------------------------------------------------------------------------------------------------------------------------
    </h3>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p class="s5" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Date: <span>
            <%=date_of_application%>
        </span></p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">To,</p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">The Managing Director</p>
    <p class="s5" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">National Securities Depository Limited
    </p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">4th floor, Trade World, A Wing Kamala Mills
        Compound, Senapati Bapat Marg,</p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Lower Parel, Mumbai - 400 013</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p class="s5" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Reference: <span
            class="s6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span>
            <%=name%>
        </span></p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-top: 4pt;padding-left: 5pt;text-indent: 0pt;line-height: 202%;text-align: justify;">Subject:
        Undertaking for non-Submission of Balance Sheet Respected Sir / Madam</p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">With Reference to Caption subject, we wish to
        inform you that our Company “<span>
            <%=name%>
        </span><span class="s8"> </span>&nbsp;“is incorporated
        as on dated <span style=" color: #F00;"></span>and as company is Incorporated in FY
        &nbsp;<%=INCORpYear%>&nbsp;, we don’t have Balance
            Sheet as on <span class="s6">&nbsp;</span><span class="s10"> </span>&nbsp;<%=auditDate%>&nbsp;</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 5pt;text-indent: 0pt;line-height: 202%;text-align: justify;">This is for your information
        Please. Thanking You</p>
    <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 14pt;text-align: justify;">For, <span>
            <%=name%>
        </span></p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p class="s5" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">(Signature)</p>
    <p class="s5" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Name : <span>
            <%=authorized_name%>
        </span>
    <p style="text-indent: 6pt;"> Designation <span>
            <%=authorized_destination%>
        </span></p>
    <p style="text-indent: 6pt;">
        DIN: <span>
            <%=authorized_din%>
        </span>
    </p>
    </p>
</body>

</html>